body {
  margin: 0 auto; }

header {
  background: url(../img/header_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 813px;
  opacity: .9; }

.top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.upper {
  width: 750px;
  height: 268px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  text-align: center;
  font-family: 'Exo', sans-serif; }
  .upper p {
    margin-bottom: 0px; }

.play_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  opacity: .6;
  cursor: pointer; }
  .play_button:hover {
    opacity: 1; }
  .play_button i {
    margin: auto;
    font-size: 70px;
    color: #999999; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  height: 50px;
  background-color: #ff6666;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  opacity: .6;
  cursor: pointer; }
  .button:hover {
    opacity: 1; }
  .button p {
    margin: auto;
    color: #ffffff;
    text-transform: uppercase; }

.remark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .remark p {
    margin: auto;
    color: #999999; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 710px; }

.middle_p {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 135px;
  margin-right: 30px; }

.new_design {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Exo', sans-serif;
  padding-left: 15px;
  padding-right: 15px; }
  .new_design p {
    color: #ff6666;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }

.there {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Exo', sans-serif;
  padding-left: 15px;
  padding-right: 15px; }
  .there p {
    font-size: 40px;
    font-weight: bold;
    margin: 0; }

.text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Exo', sans-serif;
  padding-left: 15px;
  padding-right: 15px; }
  .text p {
    font-size: 15px;
    font-weight: bold; }

.your_img {
  width: 100%;
  min-height: 710px;
  background: url(../img/your_image.gif);
  background-repeat: no-repeat;
  background-position: center right; }

.middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
  max-width: 100%;
  height: 675px;
  background: url(../img/pen_holder.png);
  background-repeat: no-repeat;
  background-position: center right; }

.new_features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40%;
  font-family: 'Exo', sans-serif; }
  .new_features p {
    color: #ff6666;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .new_features b {
    font-size: 40px; }

.blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1170px;
  max-width: 100%;
  height: 60%;
  margin: auto;
  font-family: 'Exo', sans-serif; }
  .blocks img {
    cursor: pointer;
    opacity: .6;
    cursor: pointer; }
    .blocks img:hover {
      opacity: 1; }

.imagn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30%;
  height: 80%;
  margin: auto; }
  .imagn b {
    line-height: 40px; }
  .imagn p {
    line-height: 20px; }

.fly {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30%;
  height: 80%;
  margin: auto; }
  .fly b {
    line-height: 50px; }
  .fly p {
    line-height: 20px; }

.think {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30%;
  height: 80%;
  margin: auto; }
  .think b {
    line-height: 50px; }
  .think p {
    line-height: 20px; }

.after_middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: url(../img/rectangle.png);
  background-repeat: no-repeat;
  background-position: left;
  font-family: 'Exo', sans-serif; }

.laptop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 80px 15px 80px 15px; }

.responsive {
  max-width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0px 15px 80px 15px; }

.middle2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
  max-width: 100%;
  background: url(../img/BG.png);
  background-repeat: no-repeat;
  background-position: center right; }

.blocks2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1170px;
  max-width: 100%;
  margin: auto;
  margin-top: 80px; }

.doe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Exo'; }
  .doe img {
    margin-bottom: 30px; }
  .doe b {
    font-size: 22px;
    color: #ffffff; }
  .doe i {
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 30px; }

.new_features2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-bottom: 80px; }
  .new_features2 img {
    cursor: pointer;
    width: 70%; }

.new_features3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f6f5f3; }

.insaid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 50%;
  max-width: 100%;
  text-align: center;
  font-family: 'Exo', sans-serif; }
  .insaid p {
    color: #ff6666;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .insaid b {
    font-size: 40px; }
  .insaid small {
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 40px; }

.before_foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #333366;
  font-family: 'Exo', sans-serif; }

.before_foot_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  max-width: 100%;
  margin-top: 30px; }
  .before_foot_head p {
    color: #ff6666;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .before_foot_head b {
    font-size: 40px;
    color: #ffffff; }

.before_foot_foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .before_foot_foot p {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 30px; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-width: 80%;
  margin: auto; }

input {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  border: none;
  height: 50px;
  width: 258px;
  margin: auto; }

.fullname input {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase; }
  .fullname input:focus {
    outline: none;
    -webkit-box-shadow: 0.2rem 0.8rem 1.6rem;
            box-shadow: 0.2rem 0.8rem 1.6rem;
    text-transform: none; }

.youremail input {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase; }
  .youremail input:focus {
    outline: none;
    -webkit-box-shadow: 0.2rem 0.8rem 1.6rem;
            box-shadow: 0.2rem 0.8rem 1.6rem;
    text-transform: none; }

.password input {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase; }
  .password input:focus {
    outline: none;
    -webkit-box-shadow: 0.2rem 0.8rem 1.6rem;
            box-shadow: 0.2rem 0.8rem 1.6rem;
    text-transform: none; }

.trynow input {
  background-color: #ff6666;
  color: #ffffff;
  -webkit-box-shadow: 0.2rem 0.8rem 1.6rem black;
          box-shadow: 0.2rem 0.8rem 1.6rem black; }

.foot {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url(../img/copy.png);
  background-repeat: no-repeat;
  background-position: right; }

.foot1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Exo', san-serif; }
  .foot1 p {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px; }

.foot2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Exo', san-serif; }
  .foot2 p {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px; }
  .foot2 b {
    font-size: 22px;
    font-weight: bold; }

.foot3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Exo', san-serif; }
  .foot3 p {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px; }
  .foot3 b {
    font-size: 22px;
    font-weight: bold; }

.foot4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Exo', san-serif; }
  .foot4 p {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px; }
  .foot4 b {
    font-size: 22px;
    font-weight: bold; }
  .foot4 input {
    width: 100%;
    padding-left: 10px; }
    .foot4 input:focus {
      outline: none;
      -webkit-box-shadow: 0.2rem 0.8rem 1.6rem;
              box-shadow: 0.2rem 0.8rem 1.6rem;
      text-transform: none; }

.socialicons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .socialicons i {
    margin-right: 5px;
    color: #ffffff;
    cursor: pointer; }
