body {
  margin: 0; }

header {
  background: url(../img/Pattern.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

img {
  min-height: 500px; }

.bg {
  background: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 1000px;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hdr {
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .hdr p {
    margin: 0 auto; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  width: 100%; }

.fua-gra {
  margin: 10px;
  text-align: center; }

.fua-gra1 {
  position: absolute;
  padding-top: 20px;
  text-align: left;
  margin-left: 45px;
  color: grey;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: bold; }

.fua-gra-weight {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  position: absolute;
  margin-top: 360px;
  margin-left: 200px;
  line-height: 1px;
  width: 100px;
  height: 100px;
  background-color: #0099cc;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.lax {
  margin: 10px;
  text-align: center; }

.lax1 {
  position: absolute;
  padding-top: 20px;
  text-align: left;
  margin-left: 45px;
  color: grey;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: bold; }

.lax-weight {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  position: absolute;
  margin-top: 360px;
  margin-left: 200px;
  line-height: 1px;
  width: 100px;
  height: 100px;
  background-color: #cc0066;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.chiken {
  margin: 10px;
  text-align: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .chiken:hover {
    -webkit-filter: none;
            filter: none; }

.chiken1 {
  position: absolute;
  padding-top: 20px;
  text-align: left;
  margin-left: 45px;
  color: grey;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: bold; }

.chiken-weight {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  position: absolute;
  margin-top: 360px;
  margin-left: 200px;
  line-height: 1px;
  width: 100px;
  height: 100px;
  background-color: blue;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
